
{% block stylesheet %}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

<div class="container">
     <canvas id="Types contrats" width="400" height="100"></canvas>
</div>

{% endblock %}
{% block javascripts %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script> 
<script>
      let type_contrat = document.querySelector("#type_contrat")
      let typecontratGraph = new Chart(type_contrat, {
        type: "pie"
        data: {
            labels:["type1","type2","type3"],
            datasets: [{
                label: "Répartition des types de contrats"
                data: [2, 5, 3]
                backgroundColor: ["red", "green", "blue"]
            }]
        } 
      })
{% endblock %}

{% endblock %}

