<form method="post" action="{{ path('frequence_periodicite_delete', {'id': frequence_periodicite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ frequence_periodicite.id) }}">
  <button class="btn btn-danger btn-sm"><i class="fas fa-trash">
    </i>Supprimer</button>
</form>
