{% extends 'base.html.twig' %}

{% block title %}New Prime{% endblock %}

{% block body %}
    <h1>Create new Prime</h1>
<body class="hold-transition sidebar-mini">
        <div class="content-wrapper">
    {{ include('prime/_form.html.twig') }}

    </div>
{% endblock %}
