{% extends 'templateAdmine/adminebase.html.twig' %}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            </div>
            <div class="page-content">
    <h1>Modifer Compagnie</h1>

    {{ include('companie/_form.html.twig') }}
   
                <a class="btn btn-xs btn-danger" href="{{ path('companie_index') }}">
                    Annuler
                </a>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
{% endblock %}
