{% extends 'templateAdmine/adminebase.html.twig' %}
{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            </div>
            <div class="page-content">
          <h1>Ajout Compagnie</h1>
<body class="hold-transition sidebar-mini">
        <div class="content-wrapper">
    {{ include('companie/_form.html.twig') }}
     <br>
                <a class="btn btn-xs btn-danger" href="{{ path('companie_index') }}">
                    Annuler
                </a>
            </div><!-- /.page-content -->

    </div><!-- /.main-content -->
{% endblock %}

 
