{% extends 'templateAdmine/adminebase.html.twig' %}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            </div>
            <div class="page-content">
    <h1>modifier Constat</h1>

    {{ include('constat/_form.html.twig') }}

 <br>
                <a class="btn btn-xs btn-danger" href="{{ path('demande_creation_contrat_show_mademende' , {'id': constat.id})}}">
                    Annuler
                </a>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
{% endblock %}
