{% extends 'templateAdmine/adminebase.html.twig' %}

{% block body %}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            </div>
            <div class="page-content">
                <h1> Modifier Assure</h1>

                {{ include('assure/_form.html.twig') }}
                <br>
                <a class="btn btn-xs btn-danger" href="{{ path('assure_index') }}">
                    Annuler
                </a>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
{% endblock %}
